.null_style_button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
  width: 16px;
  padding: 0;
}

.add_row {
  display: flex;
  justify-content: flex-start;
}

.row_add_button {
  color: red;
}

.column_add_button {
  color: aqua;
}

.row_nr {
  border: 1px solid black;
}

.cell {
  border: none;
  padding: 0;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  background-color: beige;
}

.cell:focus {
  outline: 0;
}

.cell_item {
 padding: 2px;
  height: auto;
  text-align: center;
  vertical-align: inherit;
  background-color: beige;
}

.add_remote_cell {
  background-color: antiquewhite;
}

.mwlResizable {
  box-sizing: border-box;
}

.example-container {
  max-height: 600px;
  width: auto;
  overflow: auto;
  margin: 20px 30px;
}


