
<div class="layout_content">
  <div class="input-group mb-3 container">

    <div class="custom-file">
      <input type="file"
             class="custom-file-input"
             id="inputGroupFile01"
             (change)="onFileChange($event)"
             multiple="false">
      <label class="custom-file-label"
             for="inputGroupFile01">Choose file</label>
    </div>
  </div>

  <app-project-table [data]="data" *ngIf="data.length > 2"></app-project-table>

  <div class="App-panel" *ngIf="data.length > 2">

    <button class="btn btn-success mt-2 mb-2 mr-2"
            (click)="export()">Export!</button>
    <button class="btn btn-success mt-2 mb-2 mr-2"
            (click)="postFile()">Post File</button>
  </div>
</div>

